#background-img {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0,0,0,.5);

    #screenshot {
        
        background-color: white;
        width: 1200px;
        border-radius: 10px;
        margin: 25px;

        #img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                width: 100%;
                object-fit: contain;
                padding: 0 25px 25px 25px;
            }
        }

        #button-container {
            display: flex;
            justify-content: end;
            button {
                display: flex;
                padding: 10px;
                font-size: 18px;
                width: 40px;
                height: 40px;
                transform: translateY(-10px) translateX(10px);
                outline: none;
                border-radius: 10px;
                border: 2px solid var(--button-close-border-hover);
                background-color: var(--button-close-border-hover);
                color: white;
                cursor: pointer;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            } button:hover {
                border: 2px solid var(--button-close-border);
                background-color: var(--button-close-border);
            }
        }
    }
}