main#page {
    #container-contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        a {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-family: 'Nunito';
            color: var(--text-secondary);
            border: 2px solid var(--border-base);
            background-color: var(--card-background);
            font-weight: bold;
            margin: 9px;
            font-size: 28px;
            padding: 25px;
            border-radius: 10px;
            cursor: pointer;
            transition: .25s;
            text-decoration: none;
            p {
                font-family: 'Montserrat';
                padding: 0;
                margin: 10px 0 0 0;
                text-align: left;
                font-weight: 400;
                transition: .25s;
            }
        } a:hover {
            color: var(--card-title-hover);
            border: 2px solid var(--border-focus);
            background-color: var(--card-hover);
            p {
                color: var(--card-description-hover);
            }
        }
    }

    #media {
        h2 {
            font-size: 38px;
            font-family: 'Nunito';
            text-align: center;
            font-weight: bolder;
            color: var(--text-primary);
            padding: 50px 0 25px 0;
        }

        ul#media-links {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            span {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
                font-family: 'Nunito';
                color: var(--text-secondary);
                border: 2px solid var(--border-base);
                background-color: var(--card-background);
                font-weight: bold;
                flex-basis: 200px;
                flex-grow: 1;
                margin: 9px;
                font-size: 38px;
                padding: 25px;
                border-radius: 10px;
                cursor: pointer;
                transition: .25s;
                text-decoration: none;
                p {
                    font-family: 'Montserrat';
                    padding: 0;
                    margin: 15px 0 0 0;
                    text-align: left;
                    font-weight: 400;
                    transition: .25s;
                    font-size: 18px;
                }
            } a:hover {
                color: var(--card-title-hover);
                border: 2px solid var(--border-focus);
                background-color: var(--card-hover);
                p {
                    color: var(--card-description-hover);
                }
            }
        }
    }
}