main#footer {
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--background-alt);
    margin-top: 50px;
    text-align: center;
    color: var(--text-secondary);
    p#copyright {
        padding: 25px 0;
    }
}