#header {
    background-color: var(--header-background);
    width: 100%;
    header {
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #logo {
            /* height: 25px; */
            font-family: 'Nunito';
            color: var(--text-primary);
            font-weight: bold;
            font-size: 20px;
            margin: 0 25px 0 0;
        }
        a {
            font-family: 'Montserrat';
            font-size: 18px;
            text-decoration: none;
            margin: 10px 5px;
            color: var(--text-secondary);
            font-weight: 600;
            transition: .25s;
            padding: 5px 10px;

        } a:hover {
            color: var(--text-primary);
        }
        #content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a#media {
            display: block;
            font-size: 24px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
        } a#media:hover {
            background-color: var(--text-secondary);
            color: var(--text-on-primary);
        }

        button {
            margin: 0;
            padding: 0;
            display: none;
            font-size: 20px;
            width: 40px;
            height: 40px;
            outline: none;
            border-radius: 10px;
            border: 2px solid var(--text-secondary);
            color: var(--text-secondary);
            background-color: var(--header-background);
            cursor: pointer;
        } button:hover {
            background-color: var(--text-secondary);
            color: var(--header-background);
        }
    }
}